@import 'bootstrap/scss/bootstrap.scss';

.main-container {
  background: linear-gradient(0.15turn, #5bceff, #ebf8e1, #ffa764);
  height: auto;
}

#forecast-card {
  background: none;
}

#form-head {
  position: sticky;
  top: 10%;
  padding: 7px;
  background: linear-gradient(0.15turn, #5bceff83, #ebf8e171, #ffa7646a);
  border-radius: 10px;
  &:hover {
    background: linear-gradient(0.15turn, #5bceff, #ebf8e1, #ffa764d4);
  }
  transition: 0.5s;
}

@media screen and (max-width: 992px) {
  #sidebar-listgroup {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 90%vw;
    border-radius: 0;
    a {
      margin: 4px;
      padding: 8px;
      border-radius: 8px;
      min-width: 100px;
      max-width: 110px;
    }
  }
}
